<!-- <p>Running in: {{env}}</p>
<p>External Variable: {{ title }}</p>
<br>
<p>External Config: {{ clientId }}</p>
<br><br> -->

<div style="border: 1px solid blueviolet;">
  <p>ConfigEnv Library</p>

<env-config
[appEnv]="appEnv">
</env-config>

</div>
<br>

<div style="border: 1px solid green; display: none;">

  <p>Test Library</p>
<lib-test></lib-test>

</div>
<br>

<div style="border: 1px solid lightcoral">

  <p>Application</p>
  <p>Environment: {{ env }}</p>
  <p>Host: {{ host }}</p>
  <br>
  <p>Env from application: {{ appEnv }}</p>
  <button (click)="tap()">tap!</button>

</div>
